*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: cursive;
    color: rgb(44, 85, 85);
    margin-left: 7%;
    font-size: 3em;
}

#subtítulo{
    font-family: sans-serif;
    color: green;
    margin-left: 9%;
}

fieldset {
    border: 0;
}

body{
    background-color: #e4e68d;
    font-family: monospace;
    font-size: 1em;
    color: mediumvioletred;
    margin-left: 36%;
    margin-top: 12%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 20px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}

fieldset.grupo .campo{
    float: right;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #6dfff3;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #db3030;
}

.botão {
    font-size: 33em;
    background: #dd2e2e;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botão, select{
    cursor: all-scroll;
}

#check {
    display: block;
}
